<footer>
	<div>
		<span>All text on this website is under the <!--
		--><a href="https://creativecommons.org/licenses/by/4.0">Creative Commons Attribution 4.0 license</a><!--
		-->. <!--
		--><i>Attribution: Tristan Bay, https://tristanbay.com</i></span>
		<br>
		<span>All raster (pixel) and vector images on this website that aren't part of any external embedded content are public domain under the <!--
		--><a href="https://creativecommons.org/publicdomain/zero/1.0">CC0 license</a><!--
		-->.</span>
		<br>
		<span>The source and generated code of this website is under the <!--
		--><a href="https://github.com/tristanbay/tristanbay.com/blob/main/LICENSE.md">MIT license</a><!--
		-->.</span>
	</div>
</footer>
