<header>
	<div class="toplinks">
		<a href="https://www.youtube.com/@tristanbay" class="tophyperlink">
			<img src="{{ "youtube.svg" | absURL }}" title="My YouTube channel." class="toplinkicon">
		</a>
		<a href="https://tristanbay.bandcamp.com/" class="tophyperlink">
			<img src="{{ "bandcamp.svg" | absURL }}" title="My Bandcamp artist page." class="toplinkicon">
		</a>
		<a href="https://open.spotify.com/artist/4kHErr2liGBpoChdl4DsTC" class="tophyperlink">
			<img src="{{ "spotify.svg" | absURL }}" title="My Spotify profile." class="toplinkicon">
		</a>
		<a href="https://www.instagram.com/whoistristanbay" class="tophyperlink">
			<img src="{{ "instagram.svg" | absURL }}" title="My Instagram page." class="toplinkicon">
		</a>
		<a href="https://beefef.newgrounds.com/" class="tophyperlink">
			<img src="{{ "newgrounds.svg" | absURL }}" title="My Newgrounds page." class="toplinkicon">
		</a>
		<a href="/index.xml" class="tophyperlink">
			<img src="{{ "rss.svg" | absURL }}" title="Add this website to your RSS reader of choice. No account required!" class="toplinkicon">
		</a>
	</div>
	{{ if .IsHome }}
		<img src="{{ "tristanbay_logo.svg" | absURL }}" class="logo">
	{{ else }}
		<a href="{{ .Site.BaseURL }}">
			<img src="{{ "tristanbay_logo.svg" | absURL }}" title="To front page." class="logo">
		</a>
	{{ end }}
	{{ if .IsHome }}{{ else }}
		<h1 id="tag_{{ .Title }}" style="margin: clamp(2px, 0.5em, 10px) 0 clamp(2px, 0.2em, 8px) 0">
			{{ .Title }}
		</h1>
	{{ end }}
</header>
