header {
	padding: 4px;
	background: #3843B8;
	font-size: 24px;
}

body {
	font-family: sans-serif;
	background: #5D68A1;
	color: #E2E7FF;
	font-size: 18px;
}

main {
	max-width: 100%;
	margin: auto;
}

article {
	font-size: clamp(100%, 1.35vw, 175%);
	margin: clamp(1%, 24px, 3%);
}

img {
	max-width: 100%;
	padding: 8px;
}

a:link {
	color: #FF9286;
}

a:visited {
	color: #DF72C6;
}

a:hover {
	color: #FFA9A6;
}

a:active {
	color: #FFC9BD;
}

button {
	font-size: clamp(120%, 1.5vw, 200%);
	background-color: #E78ADA;
	color: #6F324D;
	border: none;
	border-radius: 0.35em;
	padding: 0.3em 0.5em;
	margin: 1% 0.5%;
}

button:hover {
	background-color: #FFA2F2;
}

button:active {
	background-color: #DF82EA;
}

button i {
	color: #7F426D;
}

h1 {
	text-align: center;
	color: #D7E5FF;
	font-size: clamp(125%, calc(50% + 4vw), 300%);
}

h2 {
	text-align: center;
	color: #E3EAFF;
	font-size: clamp(100%, calc(40% + 3.2vw), 240%);
	margin: 0;
}

li span {
	color: #8383EF;
	font-style: italic;
}

footer {
	padding: 4px;
	background: #3843B8;
	font-size: 14px;
}

footer div {
	margin-left: calc(clamp(1%, 24px, 3%) - 4px);
	margin-right: calc(clamp(1%, 24px, 3%) - 4px);
	margin-top: 8px;
	margin-bottom: 8px;
}

/* for list.html */
.logo {
	width: clamp(25%, 500px, 50%);
}

.toplinks {
	display: block;
	float: right;
	text-align: right;
}

.tophyperlink {
	display: inline-block;
}

.toplinkicon {
	width: clamp(24px, 3vw, 144px);
	padding: 0.4vw;
}

/* for latest.html */
.latest {
	display: block;
	margin-top: 12px;
	margin-bottom: 12px;
}

.latest::after {
	content: "";
	display: block;
	clear: both;
}

.latest button {
	font-size: clamp(120%, 1.5vw, 200%);
	background-color: #94D5F7;
	color: #324D6F;
	border: none;
	border-radius: 0.35em;
	padding: 0.3em 0.5em;
	margin: 8px 16px;
}

.latest button:hover {
	background-color: #ADE7F2;
}

.latest button:active {
	background-color: #92D5EE;
}

.latest button i {
	color: #496D8D;
}

.latestarticle {
	display: inline-block;
	background: #4862B3;
	float: left;
	width: calc(50% - 5px);
	text-align: center;
	padding: 0.4em 0;
}

.latestmusic {
	display: inline-block;
	background: #4862B3;
	float: right;
	width: calc(50% - 5px);
	text-align: center;
	padding: 0.4em 0;
}

/* for pagedates.html */
.pagedates {
	color: #CAC3FF;
	font-size: clamp(80%, 1.08vw, 140%);
	margin: clamp(1%, 24px, 3%);
}
